<h4>PHP Fiddle Terminal</h4>
<p>Type your PHP you wish to explore below.  Returned results will be dumped below.</p>
{use class='neon\dev\widgets\NeonFiddle' type='block'}
{NeonFiddle}
return neon()->version;
{/NeonFiddle}
